* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-container{
    max-width: 60%;
    border: 2px solid wheat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 10px;
  
}
.contactme-width{
    width: 28%;
}
.contact-form{
    padding: 8px 16px;
}
.contact-flex-part{
    display: flex;
    gap: 50px;
}
.contact_thought-part{
    display: flex;
    align-items: center;
    padding: 4rem;
    background-color:#2d0041;
    color: wheat;
    height: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -8px;
    margin-right: -16px;
     width: 100%;
}


.chat-icon{
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
  
}
@media (max-width:768px) {
    .contact_thought-part{
        display: block;
        background-color:#2d0041;
        color: wheat;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
         
         width: 100%;
    }
    .contact-flex-part{
        display: block;
       
    }
    .contact-container{
        max-width: 800px;
        border: 2px solid wheat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
    
        border-radius: 10px;
      
    }
    .contact-form{
    width: 100%;
    }
    .contact_thought-part{
        display: block;
         
        padding: 4rem;
        background-color:#2d0041;
        color: wheat;
        border-radius: 10px;
        height: 250px;
        margin-top: 1.5rem;
        /* margin: -8px;
        margin-right: -16px; */
         width: 106%;
         margin-left: -17px;
    }
}
@media (max-width:480px) {
    
    .contact-flex-part{
        display: block;
       
    }
    .contact-container{
        max-width: 800px;
        border: 2px solid wheat;
        margin: 10px;
        border-radius: 10px;
      
    }
    .contact-form{
    width: 100%;
    }
    .contact_thought-part{
        display: block;
        
        height: 250px;
        margin-top: 20px !important;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
         width: 110%;
         
    }
}

@media (max-width:1024px) {
    
    .contactme-width{
        width: 50%;
    }
    .contact-container{
        max-width: 800px;
        border: 2px solid wheat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        border-radius: 10px;
      
    }
    .contact-form{
    width: 100%;
    }
    .contact_thought-part{
       
         
        padding: 4rem;
        background-color:#2d0041;
        color: wheat;
        border-radius: 10px;
        height: 250px;
     
        margin: -8px;
        width: 109%;
        margin-right: -16px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
         margin-left: -17px;
    }
}